

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: skyblue;
}

.card-icon {
    height: 3.5em;
    width: 3.5em;
}

header {
    width: 100%;
    font-size: 50px;
    padding: .5em;
    background-color: white;
    margin-bottom: 10px;
}

h1 {
    font-size: larger
}


.current-weather {
    border: white;
    padding: 1em;
    border-radius: 15px;
    background-color: white;
    width: fit-content;  
}

form {
    margin-bottom: 5px;
    padding-top: 10px;
    justify-content: center;
}

.city-search {
    width: 25%;
    margin-bottom: 10px;
}

.index {
    width: 50vh;
}

.low {
background-color: green;
}

.moderate {
background-color: yellow;
}

.high {
background-color: orange;
color: white;
}


.very-high {
background-color: red;
color: white;
}

.extreme {
background-color: purple;
color: white;
}

.card {
    background-color: white;
    color: black;
}

.five-day-forecast {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.forecast{
    background-color:white;
    color:black;
    border: 2px solid skyblue;
    text-align:center;
    border-radius: 15px;
    
}

.card-text {
    font-size: 15px;
}

