* {
    box-sizing: border-box;
}

.hero {
    text-align: center;
    padding: 3% 4%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    line-height: 1.5;
    font-size: 12px;
}

.container {
    margin-left: 40px auto;
    width: 90%;
    min-height: 100%;
    overflow: auto;
}

#searchBtn {
    font-size: 1.3rem;
    width: 100%;
    display: block;
    color: white;
    background-color: skyblue;
    display: block;
    margin: 5px 0; 
}

.searchBten:hover {
    color: azure;
}

h1, h3 {
font-size: 1.3rem;
margin: 0;
line-height: 1.5;

}

.main-title {
    font-size: 3rem;
    background-color: skyblue;
    color: lightgray;
    padding: 0, 10px;
    display: inline-block;
}

.card {
    margin: 0 0 20px 0;
    border: 2px solid blue;
}

.search-title {
    padding: 2.5%;
}

.fiveday {
    display: flex;
}

.list-group {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: white;
    text-decoration: none;

}

.card-deck {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
    margin-right: 10px;
    height: 250px;
    line-height: 1.8;
}